#app {
  display: flex;
  flex-flow: row wrap;
}

.card-img-top {
  width: 286px;
  height: 190px;
}

/*.card {
  margin: 10px;
}*/

body {
  background-color: aqua;
}



/*#all-btn {
  background-color: blue;
}

#dogs-btn {
  background-color: red;
}

#cats-btn {
  background-color: deepskyblue;
}

#dinos-btn {
  background-color: green;
}*/

#Cats {
  background-color: green;
}

#Dinos {
  background-color: orange;
} 

#Dogs {
  background-color: red;
}
